<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="assets\OTTLogo_1.png" width="112" height="30">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" *ngIf="isUserSignedIn; else userUnsigned">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/registered">
                Home
            </a>

            <a class="navbar-item" routerLink="/registered/favourites">
                Favourites
            </a>

            <a class="navbar-item" routerLink="/registered/watchLater">
                Watch Later
            </a>

            <a class="navbar-item" routerLink="/registered/watched">
                Watched
            </a>

            <a class="navbar-item" routerLink="/admin/addmovie" *ngIf="isAdminUser">
                Add Movie
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons" (click)="logout()">
                    <a class="button is-dark">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ng-template #userUnsigned>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-dark" routerLink="/signup">
                            <strong>Sign In</strong>
                        </a>
                        <a class="button is-dark" routerLink="/login">
                            <strong>Login</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</nav>